{% extends "layout.html" %}
{% block title %}Donaciones Covid{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm">
      <div > 
          <form  action="{{ url_for('login') }}" onsubmit="" method="POST" enctype="multipart/form-data" >
            {{ form.csrf_token }}
            
            <fieldset>
                <div class="form-group " >
                  <legend> Iniciar Sesion</legend>
                </div>
                <div class="form-group " >
                  {{form.email.label}}
                  {{form.email}}
                  <br>
                  {% for error in form.email.errors %}
                    <div style=color:red>{{ error }}</div>  
                {% endfor %}
                </div>
                <div >
                  <div class="form-group " >
                  {{form.password.label}}
                  {{form.password}}
                  <br>
                  {% for error in form.password.errors %}
                    <div style=color:red>{{ error }}</div>  
                {% endfor %}
                </div>
                <div ><br> <input type="submit"  class="btn btn-primary" value="Iniciar Sesion"></div>
              </fieldset>
          </form>
      </div>
    </div>
    <div class="col-sm">
    </div>
    <div class="col-sm">
      
    </div>
  </div>
</div>
{% endblock %}
