{% extends "layout.html" %}
{% block title %}Donaciones Covid{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}

  <div id="login" > 
    <form  action="{{ url_for('login') }}" onsubmit="" method="POST" enctype="multipart/form-data" >
      {{ form.csrf_token }}
      
      <fieldset>
        <strong id="texto"> Iniciar Sesion</strong><br><br>
          
        {{form.email.label}}
        {{form.email(class_="form-control", placeholder='ingrese su email')}}
        <br>
        {% for error in form.email.errors %}
          <div style=color:red>{{ error }}</div>  
        {% endfor %}
      
        {{form.password.label}}
        {{form.password(class_="form-control", placeholder='ingrese su password')}}
        <br>
        {% for error in form.password.errors %}
          <div style=color:red>{{ error }}</div>  
        {% endfor %}
        <br>
        <div id="centrar">
          <input type="submit"  class="btn btn-primary" value="Iniciar Sesion">
        </div>
      </fieldset>
    </form>
  </div>
    
{% endblock %}
