{% extends "layout.html" %}
{% block title %}Usuarios{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <h1>Usuarios</h1>

  <table style="width:75%"  >
    <tr>
      <th>ID</th>
      <th>Nombre usuario</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Mail</th>
      <th>Rol</th>
    </tr>
    {% for issue in issues %} 
      <tr>
        <td>{{ issue.category_id }} </td>
        <td> unNombre </td>
        <td> otroNombre </td>
        <td> unApellido </td>
        <td> {{ issue.email }} </td>
        <td> {{ issue.status_id }} </td>
      </tr>
      {% endfor %}
    </table>

  <a href="{{ url_for('home') }}" class="link">Volver</a>
  <a href="{{ url_for('issue_new') }}" class="link">Nuevo</a>
{% endblock %}
