{% extends "layout.html" %}
{% block title %}Permisos{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <h1>Permisos</h1>

  <table class="table table-hover" style="width:75%"  >
    <tr>
      <th>Permiso</th>  
    </tr>
    {% for permiso in index_pag.items %} 
      <tr>
        <td>{{ permiso.nombre }} </td>
      </tr>
      {% endfor %}
    </table>

    <nav aria-label="...">
      <ul class="pagination" style="margin-left: 35%;">   
      {% for page in index_pag.iter_pages() %}
        {% if page %}
          {% if page != index_pag.page %}
            <li class="page-item">
              <a class="page-link" href="{{ url_for('permiso_index', page=page) }}">{{ page }}</a>
            </li>
          {% else %}
            <li class="page-item active">
              <span class="page-link">
              {{ page }}
              <span class="sr-only">(current)</span>
              </span>
            </li>
          {% endif %}
        {% else %}
          <span class=ellipsis>…</span>
        {% endif %}
      {% endfor %}
      </ul>
    </nav>

  <a href="{{ url_for('home') }}" class="link">Volver</a>
  <a href="{{ url_for('permiso_new') }}" class="link">Nuevo</a>
{% endblock %}
