{% extends "layout.html" %}
{% block title %}Permisos{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <h1>Crear un permiso</h1>
  <form action="{{ url_for('permiso_create') }}" method="POST">
    <p>
      <label>Permiso: <label></br>
      <input name="permiso" required placeholder="permiso"/>
    </p>
    <p>
      <input type="submit" value="Crear">
      <button type="reset">Limpiar</button>
    </p>
  </form>
  <a href="{{ url_for('permiso_index', page=1) }}" class="link">Volver</a>
{% endblock %}
