{% extends "layout.html" %}
{% block title %}Busqueda de turnos{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <strong class="texto" style="font-size: xx-large;">TURNOS</strong>
  <div id="derecha">
    {# arreglar redirecciones #}
    <a href="{{ url_for('home') }}" class="btn btn-primary">Volver</a>
  </div>

  {#-------------busqueda de turnos--------------#}

  <div id="formBusqueda">
    <strong class="texto" style="font-size: medium;">Busqueda de turnos:</strong>
    <br><br>
    <form action="{{url_for('turnos_index')}}" method="GET" class="form-inline my-1">
      <div class="busqueda">
        <strong>Centro:</strong><br>
        <input type="text" name="centro" placeholder="ingrese un nombre" class="form-control mr-sm-1">
      </div>
      <div class="busqueda">
        <strong>Email de solicitante:</strong><br>
        <select name="email" id="" class="form-control mr-sm-1">
          {% for turno in turnos %}
          {% if turno[0] %}
          <option value="{{turno.email}}">{{turno[0].email}}</option>
          {% endif %}
          {% endfor %}  
          
        </select>
      </div>
      <div>
        <input type="submit"  class="btn btn-primary" value="Buscar">
        <a href="{{url_for('turnos_index')}}" class="btn btn-secundary" >Limpiar búsqueda</a>
      </div>
    </form>
  </div>

  {#--------------------------  Tabla de turnos  ------------------------------#}

  <div id="index-table">
    {% if not turnos %}
    <strong style="color: red; margin-left:70px "> No se encontraron turnos para las datos ingresados</strong>
    {% else %}
    <table class="table table-hover" >
      <tr style="text-align: center;">
        <th>Día 1</th>
        <th>Día 2</th>
        <th>Día 3</th>
      </tr>
      <tr>
        {% for turno in turnos %}
        <th>{{turno.email}}</th>
        {% endfor %}
      </tr>

    </table>
    {% endif %}
  </div>
  {% endblock %}