{% extends "layout.html" %}
{% block title %}Informacion del sitio{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<div id="derecha"><a href="{{ url_for('configuracion_update') }}" class="btn btn-primary btn-lg">Modificar</a></div>
  <div id="show">
  <strong id="texto" style="font-size: xx-large;">INFORMACIÓN DEL SITIO:</strong>
  <table class="table table-hover">
    <tr>
      <td><strong id="texto-show">Titulo: </strong> </td>
      <td><strong id="text-text"> {{ sitio.titulo }} </strong></td>
    </tr>
    <tr>
      <td><strong id="texto-show">Descripcion:</strong></td>
      <td><strong id="text-text">{{ sitio.descripcion }}</strong></td>
    </tr>
    <tr>
      <td><strong id="texto-show">Email de contacto: </strong></td>
      <td><strong id="text-text">{{ sitio.email }}</strong></td>
    </tr>
      <td><strong id="texto-show">Estado: </strong></td>
      <td><strong id="text-text"> 
            {% if sitio.activo is true %}
              Habilitado
            {% else %}
                Deshabilitado
            {% endif %}
          </strong></td>
    </tr>
    <tr>
      <td><strong id="texto-show">Cantidad para paginado:</strong></td>
      <td><strong id="text-text">{{ sitio.paginas }}</strong></td>
    </tr>
  </table>
  </div>

  {% endblock %}