{% extends "layout.html" %}
{% block title %}Informacion del sitio{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <h1>Informacion del sitio:</h1>
  <div class="col-md-6">
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <p style="font-size: 20px">
           
            <b>Titulo: </b> {{ sitio.titulo }} <br>
            <b>Descripcion: </b> {{ sitio.descripcion }}<br>
            <b>Email de contacto: </b>{{ sitio.email }} <br>
            <b>Estado: </b>
            {% if sitio.activo is true %}
            Habilitado
         {% else %}
             Deshabilitado
         {% endif %}
         <br>
            <b>Cantidad para paginado: </b>{{ sitio.paginas }} <br>
        </p>
      </div>
      
    </div>
    <a href="{{ url_for('configuracion_update') }}" id="boton">Modificar</a>
  </div>

</div>

  {% endblock %}