{% extends "layout.html" %}
{% block title %}Configuración de sitio{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
 
  <div id="derecha">
    <a href="{{ url_for('configuracion_show') }}" class="btn btn-primary btn-lg">Volver</a>
  </div>
  <div id="formulario">
    <strong class="texto">CONFIGURACIÓN DEL SITIO</strong>
    <form action="{{ url_for('configuracion_edit') }}" method="post">
      
      <label>Título del Sitio: </label><br>
      <input class="form-control" type="text" name="titulo" required value="{{ sitio.titulo }}"/><br>

      <label>Descripción: </label><br>
      <textarea class="form-control" name="descripcion" value="{{ sitio.descripcion }}" 
      rows="2" maxlength="255" required>
        {{ sitio.descripcion }} 
      </textarea><br>
      {# <input class="form-control" type="text" name="descripcion" required value="{{ sitio.descripcion }}"/><br>#}

      <label>Mail de contacto: </label><br>
      <input class="form-control" type="email" name="email" required value="{{ sitio.email }}"/><br>

      <label>Cantidad de elementos por página </label><br>
      <input class="form-control" type="number" name="paginas" required value="{{ sitio.paginas }}"/><br>

      <label>Estado de sitio:</label><br>
      <select name="activo" class="form-control">
        <option value="True" {% if sitio.activo is true %} selected {% endif%}>Habilitado</option>
        <option value="False" {% if sitio.activo is false %} selected {% endif%}>Deshabilitado</option>
      </select><br><br>

      <div id="centrar">
        <input type="submit" value="Modificar sitio" class="btn btn-primary btn-lg">
        <button type="reset" class="btn btn-secundary btn-lg" >Limpiar Formulario</button>
      </div>

    </form>
    </div>

{% endblock %}
