{% extends "layout.html" %}
{% block title %}Configuración de sitio{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <h1>Configuración del sitio</h1>
  <div id="formulario">
    <form action="{{ url_for('configuracion_edit') }}" method="post">
      <p>
        <label>Título del Sitio: </label>
        <input type="text" name="titulo" required value="{{ sitio.titulo }}"/>
      </p>
      <p>
        <label>Descripción: </label>
        {#<textarea name="descripcion" value="" rows="5" cols="40"required> </textarea>#}
        <input type="textarea" name="descripcion" required value=" {{ sitio.descripcion }}"/>
      </p>
      <p>
        <label>Mail de contacto: </label>
        <input type="email" name="email" required value="{{ sitio.email }}"/>
      </p>
      <p>
        <label>Cantidad de elementos por página </label>
        <input type="number" name="paginas" required value="{{ sitio.paginas }}"/>
      </p>
      <p>
        <label>Estado de sitio:</label>
        <select name="activo" required>
          <option value="True" {% if sitio.activo is true %} selected {% endif%}>Habilitado</option>
          <option value="False" {% if sitio.activo is false %} selected {% endif%}>Deshabilitado</option>
         <br>
            <b>Cantidad para paginado: </b>{{ sitio.paginas }} <br>

        </select>
      </p>
      <p>
        <input type="submit" value="Configurar">
        <button id="boton" type="reset" >Limpiar Formulario</button>
      </p>
   
    </form>
    </div>
    <a href="{{ url_for('configuracion_show') }}" class="link">Volver</a>

{% endblock %}
