@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700");
@import url("https://fonts.googleapis.com/css?family=Catamaran:400,800");

body {
  font-family: "Montserrat", Helvetica, sans-serif;
  font-size: 14px;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#footer {
  background-color: rgba(24, 58, 82, 0.24);
  position: relative; /*  queria dejarlo abajo de todo pero pasaron cosas   */
  text-align: center;
  margin-top: 4%;
  padding: 2%;
  padding-bottom: 1.5%;

  width: 100%;
}

#container {
  width: 75%;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
  min-height: 400px;
}
/*---------------------------------*/
#img {
  border-radius: 22px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

div #derecha {
  float: right;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
}

div #izquierda {
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
}

div #centrar {
  margin-left: 25%;
}

.texto{
  font-size: x-large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 25%;
  color: rgb(56, 62, 90);
}

.texto-show{
  font-size: x-large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(56, 62, 90);
  margin: 3%;
}
#text-text{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 17px;
  color: black;
}

div #formulario {
  /*text-align: center;
    opacity: 0.5;
  */
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 150px;
  margin-right: 150px;
  
  background-color: #5eafe6cc; /*  cambiar color jeje */
  border-radius: 12px;
  border: 1px solid #06bedf; /*  cambiar color jeje */

  padding-top: 20px;
  padding-bottom: 30px;
  padding-right: 70px;
  padding-left: 70px;
}

#login{
  margin-top: 5%;
  margin-left: 30%;
  margin-right: 30%;
    
  background-color: #5eafe6cc; /*  cambiar color jeje */
  border-radius: 12px;
  border: 1px solid #06bedf; /*  cambiar color jeje */

  padding: 20px;
}

#show{
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 20%;
  margin-bottom: 1%;
  padding: 3%;
  padding-top: 1%;
  padding-bottom: 0%;
  border-radius: 20px;
  border: 1px solid;
  border-color: #5eafe6cc;
}
/*---------------------------*/
#boton {
  border: 1px solid rgb(165, 164, 164);
  border-radius: 3px;
  line-height: 1.3;
  text-decoration: none;
  letter-spacing: 1px;
  background-color: rgb(214, 211, 211);
  padding: 4px 5px;
}

a.link {
  text-transform: uppercase;
  font-size: 10px;
  background-color: #92a4ad;
  padding: 10px 15px;
  border-radius: 0;
  color: #416475;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  line-height: 1.5;
  text-decoration: none;
  margin-top: 50px;
  letter-spacing: 1px;
}
.error_form {
  color: red;
}

#divnav {  /*--------    este no sirve jeje    ----------- */
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
  padding-left: 20px;
  padding-right: 20px;
}

.busqueda{
  text-align: left;
  margin-right: 2%;
  margin-bottom: 2%;
}

#formBusqueda{
  margin-top: 2%;
  margin-left: 10%;
  margin-right: 30%;
  margin-bottom: 1%;
  padding: 3%;
  padding-top: 1%;
  padding-bottom: 1%;
  border-radius: 20px;
  background-color: #5eafe6cc; /*  cambiar color jeje */
  border-radius: 12px;
  border: 1px solid #06bedf;
}

#index-table{
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 3%;
  padding: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
  border-radius: 20px;
  border: 2px solid;
  border-color: #5eafe6cc;
  background-color: rgba(33, 94, 105, 0.13);
}

