@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700");
@import url("https://fonts.googleapis.com/css?family=Catamaran:400,800");
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"');
/*@import url('https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"');
@import url('https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"');
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js');
@import url('https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css');*/
body {
  background-color: #8d9194;
  font-family: "Montserrat", Helvetica, sans-serif;
  font-size: 14px;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#footer {
  width: 75%;
  margin: 0 auto;
  text-align: center;
}

#container {
  width: 75%;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
  min-height: 400px;
}
/*---------------------------------*/
img {
  border-radius: 22px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

div #derecha {
  float: right;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
}

div #izquierda {
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
}

div #centrar {
  margin-left: 25%;
}

#texto{
  font-size: x-large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 25%;
  color: rgb(56, 62, 90);
}

#texto-show{
  font-size: x-large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(56, 62, 90);
  margin: 3%;
}
#text-text{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 17px;
  color: black;
}

div #formulario {
  /*text-align: center;
    opacity: 0.5;
  */
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 150px;
  margin-right: 150px;
  
  background-color: #5eafe6cc; /*  cambiar color jeje */
  border-radius: 12px;
  border: 1px solid #06bedf; /*  cambiar color jeje */

  padding-top: 20px;
  padding-bottom: 30px;
  padding-right: 70px;
  padding-left: 70px;
}

#login{
  margin-top: 15%;
  margin-left: 30%;
  margin-right: 30%;
    
  background-color: #5eafe6cc; /*  cambiar color jeje */
  border-radius: 12px;
  border: 1px solid #06bedf; /*  cambiar color jeje */

  padding: 20px;
}

#show{
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 20%;
  
  padding: 3%;
  padding-top: 1%;
  padding-bottom: 0%;
  border-radius: 20px;
  border: 1px solid;
  border-color: #5eafe6cc;
}
/*---------------------------*/
#boton {
  border: 1px solid rgb(165, 164, 164);
  border-radius: 3px;
  line-height: 1.3;
  text-decoration: none;
  letter-spacing: 1px;
  background-color: rgb(214, 211, 211);
  padding: 4px 5px;
}

a.link {
  text-transform: uppercase;
  font-size: 10px;
  background-color: #92a4ad;
  padding: 10px 15px;
  border-radius: 0;
  color: #416475;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  line-height: 1.5;
  text-decoration: none;
  margin-top: 50px;
  letter-spacing: 1px;
}
.error_form {
  color: red;
}

#divnav {  /*--------    este no sirve jeje    ----------- */
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
  padding-left: 20px;
  padding-right: 20px;
}


