{% extends "layout.html" %}
{% block title %}Roles{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <h1>Crear un rol</h1>
  <form action="{{ url_for('rol_create') }}" method="POST">
    <p>
      <label>Rol: <label></br>
      <input type="text" name="rol" required placeholder="rol"/>
    </p>
    <p>
      <input type="submit" value="Crear">
      <button type="reset">Limpiar</button>
    </p>
  </form>
  <a href="{{ url_for('rol_index') }}" class="link">Volver</a>
{% endblock %}
