{% extends "layout.html" %}
{% block title %}Usuarios{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <h1>Usuario</h1>
  <table class="table table-hover" style="width:75%"  >
    <tr style="text-align: center;">
      <th>ID</th>
      <th>Nombre usuario</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Mail</th>
      <th>Rol</th>
      <th>Modificar</th>
    </tr>
    {% for user in users %}
      <tr>
        <td>{{ user.id }} </td>
        <td> {{user.username}} </td>
        <td> {{ user.first_name }} </td>
        <td> {{ user.last_name }} </td>
        <td> {{ user.email }}</td>
        <td> ROL - falta consulta - </td>
        <td><a href="#" id="boton">Modificar</a> </td>
      </tr>
      {% endfor %}
    </table>

  <a href="{{ url_for('home') }}" class="link">Volver</a>
  <a href="{{ url_for('user_new') }}" class="link">Nuevo</a>

{% endblock %}
