{% extends "layout.html" %}
{% block title %}Usuarios{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <strong class="texto" style="font-size: xx-large;">USUARIOS</strong>
  <div id="derecha">
    <a href="{{ url_for('home') }}" class="btn btn-primary">Volver</a>
    <a href="{{ url_for('user_register') }}" class="btn btn-primary">Nuevo</a>
  </div>

  {#-------------busqueda de usuarios--------------#}
  
  <div id="formBusqueda">
    <strong class="texto" style="font-size: medium;">Busqueda de usuarios:</strong>
    <br><br>
    <form action="{{ url_for('user_index',page=1)}}" method="POST" class="form-inline my-1">
      {{ form.csrf_token }}
      <div class="busqueda">
        <strong>Username</strong><br>
        {{form.username( class="form-control mr-sm-1", placeholder='ingrese un username')}}  
      </div>
      <div class="busqueda">
        <strong>Estado</strong><br>
        {{ form.estado(class="form-control mr-sm-1")}}
      </div>
      <div>
        <input type="submit"  class="btn btn-primary" value="Buscar">
        <button type="reset" class="btn btn-secundary" >Limpiar búsqueda</button>
      </div>
    </form>
  </div>
<div id="index-table">
  <table class="table table-hover" >
    <tr style="text-align: center;">
      <th>Username</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Mail</th>
      <th>Rol</th>
      <th>Modificar</th>
      <th>Activar</th>
      <th>Borrar</th>
    </tr>
    {% for user in index_pag.items %}
    <tr>
      <td> {{user.username}} </td>
      <td> {{ user.first_name }} </td>
      <td> {{ user.last_name }} </td>
      <td> {{ user.email }}</td>
      <td>
        <a href="{{ url_for('user_update_rol', user_id=user.id) }}" class="btn btn-dark">Asignar</a>
      </td>    
      <td>
        <a href="{{ url_for('user_update', user_id=user.id)}}" class="btn btn-warning">Modificar</a>
      </td>
      <td>  
        {% if user.activo == True %}
          <strong style="color: rgba(4, 128, 0, 0.856);">Usuario activo</strong> 
        {%else %}
          <a href="{{ url_for('user_activar', user_id=user.id, page=index_pag.page)}}" onclick="return activar()" class="btn btn-success" 
          type="submit">Activar Usuario</a>
        {% endif %}
        </td>
        <td>
        {% if user.activo == True %}
          <a href="{{ url_for('user_eliminar', user_id=user.id, page=index_pag.page)}}" 
          onclick="return confirmation()" class="btn btn-danger" type="submit">Eliminar</a>
          <script src="{{ url_for('static', filename='validac.js') }}"> </script>    
          {%else %}
          <strong style="color: rgba(197, 11, 5, 0.89);">Usuario eliminado</strong>
        {% endif %}
        </td>
      </tr>
      {% endfor %}
    </table>

  {#-----------------------------PAGINADO------------------------------------#}
    <nav aria-label="..." style="margin-left:15%;" >
      <ul class="pagination" style="margin-left: 35%;">   
      {% for page in index_pag.iter_pages() %}
        {% if page %}
          {% if page != index_pag.page %}
            <li class="page-item">
              <a class="page-link" href="{{ url_for('user_index', page=page) }}">{{ page }}</a>
            </li>
          {% else %}
            <li class="page-item active">
              <span class="page-link">
              {{ page }}
              <span class="sr-only">(current)</span>
              </span>
            </li>
          {% endif %}
        {% else %}
          <span class=ellipsis> . . . </span>
        {% endif %}
      {% endfor %}
      </ul>
    </nav>
    {#----------------------------------------------------------------------#}
</div>

{% endblock %}
