{% extends "layout.html" %}
{% block title %}Usuarios{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <div id="derecha">
    <a href="{{ url_for('user_index') }}" class="btn btn-primary">Volver</a>
  </div>
  <br><br>

  <div id="formulario" class="container">
    <strong class="texto">CARGAR UN NUEVO USUARIO</strong>
    <form action="{{ url_for('user_register') }}" onsubmit="return validarUser()" method="POST">
    {{ form.csrf_token }}

    <div class="row">
        <div class="col-sm">
            <label>Nombre </label><strong style="color: red;">*</strong>
            {{form.first_name(class_="form-control", id="first_name", placeholder='ingrese un nombre')}}
            {% for error in form.first_name.errors %}
            <br><div style=color:red>{{ error }}</div>
            {% endfor %} 
        </div>
        <div class="col-sm">
            <label>Apellido </label><strong style="color: red;">*</strong>
            {{form.last_name(class_="form-control",id="last_name", placeholder='ingrese un apellido')}}
            {% for error in form.last_name.errors %}
            <br><div style=color:red>{{ error }}</div>
            {% endfor %}      
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <label>Email </label><strong style="color: red;">*</strong>
            {{form.email(class_="form-control", id="email", placeholder='ingrese un email')}}
            {% for error in form.email.errors %}
            <br><div style=color:red>{{ error }}</div>
            {% endfor %}    
        </div>
        <div class="col-sm">
            {{form.username.label}}<strong style="color: red;">*</strong>
            {{form.username(class_="form-control", id="username", placeholder='ingrese un nombre de usuario')}}
            {% for error in form.username.errors %}
            <br><div style=color:red>{{ error }}</div>  
            {% endfor %}         
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <label>Password </label> <strong style="color: red;">*</strong>
            {{form.password(class_="form-control", id="password", placeholder='ingrese una password')}}
            {% for error in form.password.errors %}
            <br><div style=color:red>{{ error }}</div>
            {% endfor %}
        </div>
        <div class="col-sm">
            <strong style="color: red;">Campos obligatorios con *</strong><br><br>
            <input type="submit" value="Cargar usuario" class="btn btn-primary">
            <button type="reset" class="btn btn-secundary" >Limpiar formulario</button>
        </div>
    </div>
</div>  




  <script src="{{ url_for('static', filename='validaciones/usuario.js') }}"></script>

{% endblock %}
