{% extends "layout.html" %}
{% block title %}Usuarios{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <h1>Crear un usuario</h1>
  <div id="formulario">
    <form action="{{ url_for('user_create') }}" method="POST">
      <p>
        <label>Nombre </label>
        <input type="text" name="user_name" required placeholder="Nombre de Usuario"/>
      </p>
      <p>
        <label>Email </label>
        <input type="email"name="email" required placeholder="Correo"/>
      </p>
      <p>
        <label>Clave </label>
        <input type="password" name="password" required placeholder="Clave"/>
      </p>
      <p>
        <label>Nombre </label>
        <input type="text" name="first_name" required placeholder="Nombre"/>
      </p>
      <p>
        <label>Apellido </label>
        <input type="text" name="last_name" required placeholder="Apellido"/>
      </p>
      <p>
        <label>Seleccione un Rol</label>
        <select name="rol" id="rol" required>
          <option value="">Administrador</option>
          <option value="">Operador de centro de ayuda</option>
        </select>
      </p>
      <p>
        <input type="submit" value="Crear">
        <button id="boton" type="reset" >Limpiar</button>
      </p>
   
    </form>
    </div>
  <a href="{{ url_for('user_index') }}" class="link">Volver</a>
{% endblock %}
