{% extends "layout.html" %}
{% block title %}Usuarios{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <div id="derecha">
    <a href="{{ url_for('user_index') }}" class="btn btn-primary">Volver</a>
  </div>
  <div id="formulario">
    <strong class="texto">CARGAR UN NUEVO USUARIO</strong>
    <form action="{{ url_for('user_register') }}" method="POST">
      
      {{ form.csrf_token }}
      <div class="form-col-left">
      {{form.username.label}}
        {{form.username(class_="form-control", placeholder='ingrese un nombre de usuario')}}
        </div>
        {% for error in form.username.errors %}
          <br><div style=color:red>{{ error }}</div>  
        {% endfor %}
        
        <div class="form-col-right">
        <label>Email </label>
        {{form.email(class_="form-control", placeholder='ingrese un email')}}
        </div>
        {% for error in form.email.errors %}
          <br><div style=color:red>{{ error }}</div>
        {% endfor %}

        <div class="form-col-left">
        <label>Password </label>
        {{form.password(class_="form-control", placeholder='ingrese una password')}}
        </div>
        {% for error in form.password.errors %}
          <br><div style=color:red>{{ error }}</div>
        {% endfor %}

        <div class="form-col-right">
        <label>Nombre </label>
        {{form.first_name(class_="form-control", placeholder='ingrese un nombre')}}
        <br><br></div>
        {% for error in form.first_name.errors %}
          <br><div style=color:red>{{ error }}</div>
        {% endfor %}

        <div class="form-col-left">
        <label>Apellido </label>
        {{form.last_name(class_="form-control", placeholder='ingrese un apellido')}}
        </div>
        {% for error in form.last_name.errors %}
          <br><div style=color:red>{{ error }}</div>
        {% endfor %}
        
        <div id="centrar" style="padding-left: 300px;">
          <input type="submit" value="Cargar usuario" class="btn btn-primary">
          <button type="reset" class="btn btn-secundary" >Limpiar formulario</button>
        </div>
    </form>
  <br><br>
  </div>
  
{% endblock %}
