{% extends "layout.html" %}
{% block title %}Perfil{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<h1>Mi perfil</h1>

<table class="table table-hover" style="width:50%" >
    <tr >
        <td> <strong>User Name: </strong> </td>
        <td>{{user.username}}</td>
    </tr>
    <tr>
        <td> <strong>Email: </strong> </td>
        <td>{{user.email}}</td>
    </tr>
    <tr>
        <td> <strong>Nombre: </strong> </td>
        <td>{{user.first_name}}</td>
    </tr>
    <tr>
        <td> <strong>Apellido: </strong> </td>
        <td>{{user.last_name}}</td>
    </tr>
    <tr>
        <td> <strong>Rol: </strong> </td>
        <td>Un rol</td>
    </tr>
</table>
{% endblock %}