{% extends "layout.html" %}
{% block title %}Perfil{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<h1>Mi perfil</h1>

<table class="table table-hover" style="width:50%"   >
    <tr >
        <td> <strong>User Name: </strong> </td>
        <td>un User Name</td>
    </tr>
    <tr>
        <td> <strong>Email: </strong> </td>
        <td>un Email</td>
    </tr>
    <tr>
        <td> <strong>Nombre: </strong> </td>
        <td>un Nombre</td>
    </tr>
    <tr>
        <td> <strong>Apellido: </strong> </td>
        <td>un Apellido</td>
    </tr>
</table>
{% endblock %}