{% extends "layout.html" %}
{% block title %}Asignación de Roles{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}

  <h2> <strong> Asignación de Roles </strong></h2><br><br>
  <form action="#" method="POST">
    {% if roles is not none %}
        <h4><strong>Desea DESASIGNAR algun rol?</strong></h4>
      {% for rol in roles %} 
      <label>
        <input type="checkbox" name="roles" checked value="{{ rol.nombre}}"/>
        {{ rol.nombre}}
      </label><br>
        {% endfor %}
    {% else %}
      <h4><strong>El usuario no tiene roles para DESASIGNAR</strong></h4>
    {% endif %}
<br><br>
        {% if otros_roles is not none %}
          <h4><strong>Desea ASIGNAR algun rol?</strong></h4>
          {% for otro_rol in otros_roles %} 

          <label>
            <input type="checkbox" name="roles" value="{{ otro_rol.nombre}}"/>
            {{ otro_rol.nombre}}
          </label><br>
            {% endfor %}
        {% else %}
        <h4><strong>El usuario no tiene roles para ASIGNAR</strong></h4>
        {% endif %}
      <input type="submit" value="Crear">
      <button type="reset">Limpiar</button>
  </form>
  <a href="{{ url_for('user_index') }}" class="link">Volver</a>
 
{% endblock %}
