{% extends "layout.html" %}
{% block title %}Asignación de Roles{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<div id="derecha">
  <a href="{{ url_for('user_index', page=1) }}" class="btn btn-primary">Volver</a>
</div>
  <br>
  <div id="formulario">
    <strong class="texto">ASIGNACIÓN DE ROLES</strong>
  <form action="{{ url_for('user_update_rol', user_id=user_id) }}" method="POST">
  {% if roles %}
    <strong>Desea DESASIGNAR algun rol?</strong>
    {% for rol in roles %} 
      <label>
        <input type="checkbox" name="roles" checked value="{{ rol.nombre}}"/>{{ rol.nombre}}
      </label><br>
    {% endfor %}
  {% else %}
  <br>
    <strong class="texto-show" style="font-size: medium;">El usuario no tiene roles para DESASIGNAR</strong>
  {% endif %}<br><br>

  {% if otros_roles is not none %}
    <strong class="texto-show" style="font-size: medium;">Desea ASIGNAR algun rol?</strong><br>
    {% for otro_rol in otros_roles %} 

      <label>
        <input type="checkbox" name="otros_roles" value="{{ otro_rol.nombre}}"/>
          {{ otro_rol.nombre}}
        </label><br>
    {% endfor %}
  {% else %}
    <strong class="texto-show" style="font-size: medium;">El usuario no tiene roles para ASIGNAR</strong>
  {% endif %}
    <input type="hidden" name="user_id" value="{{ user_id }}">
    <div id="centrar">
      <input type="submit" class="btn btn-primary" value="Asignar">
      <button type="reset" class="btn btn-secundary">Limpiar</button>
    </div>
  </form>
</div>
{% endblock %}
