{% extends "layout.html" %}
{% block title %} Modificar Usuario{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <div id="derecha">
    <a href="{{ url_for('user_index') }}" class="btn btn-primary">Volver</a>
  </div>
    <div id="formulario">
  <strong class="texto">MODIFICAR DATOS DE USUARIO</strong>
  <form  method="POST">
    
      {{ form.csrf_token }}
      <div class="form-col-left">
        {{form.username.label}}
        {{form.username(class_="form-control")}}
      </div>
      {% for error in form.username.errors %}
        <br><div style=color:red>{{ error }}</div>  
      {% endfor %}
      
      <div class="form-col-right">
      <label>Email </label>
      {{form.email(class_="form-control")}}
      </div>
      {% for error in form.email.errors %}
        <br><div style=color:red>{{ error }}</div>
      {% endfor %}

      <div class="form-col-left">
      <label>Password </label>
      {{form.password(class_="form-control", placeholder='*******')}}
      </div>
      {% for error in form.password.errors %}
        <br><div style=color:red>{{ error }}</div>
      {% endfor %}

      <div class="form-col-right">
      <label>Nombre </label>
      {{form.first_name(class_="form-control")}}
      <br><br></div>
      {% for error in form.first_name.errors %}
        <br><div style=color:red>{{ error }}</div>
      {% endfor %}

      <div class="form-col-left">
      <label>Apellido </label>
      {{form.last_name(class_="form-control")}}
      </div>
      {% for error in form.last_name.errors %}
        <br><div style=color:red>{{ error }}</div>
      {% endfor %}
    <div id="centrar" style="padding-left: 250px;">
      <input type="submit" value="Modificar usuario" class="btn btn-primary">
      <a href="{{ url_for('user_update', user_id=user_id) }}" class="btn btn-secundary">Limpiar formulario</a>
      
    </div>
  </form>
  <br><br>
</div>

{% endblock %}
