{% extends "layout.html" %}
{% block title %} Modificar Usuario{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <div id="derecha">
    <a href="{{ url_for('user_index', page=1) }}" class="btn btn-primary btn-lg">Volver</a>
  </div>
    <div id="formulario">
  <strong id="texto">MODIFICAR DATOS DE USUARIO</strong>
  <form  method="POST">
    
    {{ form.csrf_token }}
    {{form.username.label}}
      {{form.username(class_="form-control")}}
      <br>
      {% for error in form.username.errors %}
        <div style=color:red>{{ error }}</div>  
      {% endfor %}
      
      <label>Email </label>
      {{form.email(class_="form-control")}}
      <br>
      {% for error in form.email.errors %}
        <div style=color:red>{{ error }}</div>
      {% endfor %}

      <label>Password </label>
      {{form.password(class_="form-control")}}
      <br>
      {% for error in form.password.errors %}
        <div style=color:red>{{ error }}</div>
      {% endfor %}

      <label>Nombre </label>
      {{form.first_name(class_="form-control",)}}
      <br>
      {% for error in form.first_name.errors %}
        <div style=color:red>{{ error }}</div>
      {% endfor %}

      <label>Apellido </label>
      {{form.last_name(class_="form-control",)}}
      <br>
      {% for error in form.last_name.errors %}
        <div style=color:red>{{ error }}</div>
      {% endfor %}
    <div id="centrar">
      <input type="submit" value="Modificar usuario" class="btn btn-primary btn-lg">
      <button class="btn btn-secundary btn-lg" type="reset" >Deshacer</button>
    </div>
  </form>
  </div>

{% endblock %}
