{% extends "layout.html" %}
{% block title %}Centros de Ayuda{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %} 
  <div id="formulario" class="container">
    <a href="{{ url_for('centro_index', page=1) }}" class="btn btn-primary" style="float: right;">Volver</a><br>
    <strong class="texto">CARGAR UN NUEVO CENTRO</strong>
    <!--    onsubmit="return validarCentro()"  onsubmit repetido, no funciona     -->
    <form action="{{ url_for('centro_register') }}" method="POST" onsubmit="submitHandler(event)" enctype="multipart/form-data">
      
      {{ form.csrf_token }}
      <div class="row">
        <div class="col-sm">
          {{form.nombre.label}}<strong style="color: red;">*</strong>
            {{form.nombre(class="form-control", id="nombre", placeholder='Ingrese un nombre de centro')}}
            {% for error in form.nombre.errors %}
            <br>
            <div style=color:red>{{ error }}</div>  
            {% endfor %}      
          </div>
        <div class="col-sm">
          {{form.direccion.label}}<strong style="color: red;">*</strong>
          {{form.direccion(class="form-control", id="direccion", placeholder='Ingrese una direccion')}}
          {% for error in form.direccion.errors %}
          <br><div style=color:red>{{ error }}</div>
          {% endfor %}        
        </div><br>
      </div>
      <div  class="row">
        <div class="col-sm">
        {{form.telefono.label}}<strong style="color: red;">*</strong>
        {{form.telefono(class="form-control", id="telefono", placeholder='Ingrese un telefono')}}
        {% for error in form.telefono.errors %}
        <br>
        <div style=color:red>{{ error }}</div>
        {% endfor %}        
        </div>

        <div class="col-sm">
          {{form.tipo_centro.label}}<strong style="color: red;">*</strong>
          {{form.tipo_centro(class="form-control", id="tipo_centro")}}
          {% for error in form.tipo_centro.errors %}
            <div style=color:red>{{ error }}</div>
          {% endfor %}
        </div>
      </div>  
      <div class="row">       
        <div class="col-sm">
            {{form.apertura.label}}<strong style="color: red;">*</strong>
            {{form.apertura(class="form-control", id="apertura", type="time")}}
        </div>
          <div class="col-sm">        
            {{form.cierre.label}}<strong style="color: red;">*</strong>
            {{form.cierre(class="form-control", id="cierre", type="time")}}        
          </div>
      </div>
      <div class="row">        
        <div class="col-sm">
        {{form.email.label}}
        {{form.email(class="form-control", placeholder='Ingrese un email')}}
        {% for error in form.email.errors %}
          <div style=color:red>{{ error }}</div>
        {% endfor %}              
        </div>
        <div class="col-sm">        
          <label>Municipio</label><strong style="color: red;">*</strong>             
          <select name="municipio" class="form-control">
            {% for municipio in lista_municipio %}
              <option value="{{municipio}}">{{lista_municipio[municipio]}}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="row">        
        <div class="col-sm">
          {{form.web.label}}
          {{form.web(class="form-control", placeholder='Ingrese un sitio')}}
          <strong style="color: red; opacity: 50%;"> Debe comenzar con http://</strong>
          {% for error in form.web.errors %}
            <div style=color:red>{{ error }}</div>
          {% endfor %}        
        </div>   
        <div class="col-sm">
          
          <label>Protocolo</label>       
          {{form.protocolo(class="form-control" ,type="file")}}
          {% for error in form.protocolo.errors %}
            <div style=color:red>{{ error }}</div>
          {% endfor %}                
        </div>
      </div>
      <div  class="row">  
        <div class="col-sm"> 
          <label>Ingrese ubicacion del centro</label>
          <div class="map-container">
            {{form.lat(id="lat")}}
            {{form.lng(id="lng")}} 
          </div> 
          <div id="myMap" style="height: 180px; width: auto;">
            <script src="{{ url_for('static', filename='validaciones/mapaNew.js') }}"> </script> 
          </div> 
        </div>
      </div>  
        <div id="centrar"><br>
          <strong style="color: red;">Campos obligatorios con *</strong><br><br>
          <input type="submit" value="Cargar Centro" class="btn btn-primary">
          <button type="reset" class="btn btn-secundary" >Limpiar formulario</button>
        </div>
      
    </form>
    </div>
</div>
    <script src="{{ url_for('static', filename='validaciones/centro.js') }}"></script>
{% endblock %}