{% extends "layout.html" %}
{% block title %}Centros de Ayuda{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<div id="derecha">
  <a href="{{ url_for('centro_index', page=1) }}" class="btn btn-primary">Volver</a>
</div>
  <div id="show">
  <strong class="texto" style="font-size: xx-large;">INFORMACIÓN DEL CENTRO:</strong>
  <table class="table table-hover">
    <tr>
      <td><strong class="texto-show">Nombre: </strong> </td>
      <td><strong class="text-text"> {{ centro.nombre }} </strong></td>
    </tr>
    <tr>
      <td><strong class="texto-show">Tipo de Centro: </strong> </td>
      <td><strong class="text-text"> {{ centro.tipo_centro }} </strong></td>
    </tr>
    <tr>
      <td><strong class="texto-show">Direccion: </strong> </td>
      <td><strong class="text-text"> {{ centro.direccion }} </strong></td>
    </tr>
    <tr>
      <td><strong class="texto-show">Municipio: </strong> </td>
      <td><strong class="text-text"> {{ centro.municipio }} </strong></td>
    </tr>
    <tr>
      <td><strong class="texto-show">Email: </strong> </td>
      <td><strong class="text-text"> {{ centro.email }} </strong></td>
    </tr>
    <tr>
      <td><strong class="texto-show">Estado: </strong> </td>
      <td><strong class="text-text"> {{ centro.estado }} </strong></td>
    </tr>    
    <tr>
      <td><strong class="texto-show">Protocolo: </strong> </td>
      <td><strong class="text-text"> {{ centro.protocolo }} </strong></td>
    </tr>
    <tr>
      <td><strong class="texto-show">Coordenadas: </strong> </td>
      <td><strong class="text-text"> {{ centro.coordenadas }} </strong></td>
    </tr>

  </table>
  <a href="{{url_for('turnos_new', centro_id=centro.id)}}" class="btn btn-primary">Solicitar turno</a>
  <br><br>
  {% if turnos %}
  <strong class="texto-show">Turnos solicitados: </strong>
  <table class="table table-hover">
    <tr>
      <td>
        <strong class="texto-text">Día:</strong>
      </td>
      <td>
        <strong class="texto-text">Horario:</strong>
      </td>
      <td>
        <strong class="texto-text">Email solicitante:</strong>
      </td>
      <td></td>
    </tr>
    {% for turno in turnos %}
    <tr>
      <td>
        <strong class="text-text"> {{ turno.dia }} </strong>
      </td>
      <td>
        <strong class="text-text"> {{ turno.bloque.hora_inicio }}hs - {{ turno.bloque.hora_fin }}hs </strong>
      </td>
      <td>
        <strong class="text-text"> {{ turno.email }} </strong>
      </td>
      <td><a href="{{ url_for('turnos_eliminar',)}}" 
        onclick="return confirmationTurno()" class="btn btn-danger">Cancelar</a></td>
    </tr>  
    {% endfor %}
  </table>
  {% endif %}
</div>
<script src="{{ url_for('static', filename='validac.js') }}"> </script>  
{% endblock %}