{% extends "layout.html" %}
{% block title %}Modificar Centro{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}


{% block content %} 
  <div id="derecha">
    <a href="{{ url_for('centro_index', page=1) }}" class="btn btn-primary">Volver</a>
  </div>
  <div id="formulario">
    <strong class="texto">MODIFICAR CENTRO</strong>
    <form method="POST" onsubmit="submitHandler(event)" enctype="multipart/form-data">
      
      {{ form.csrf_token }}
      <div class="form-col-left">
      {{form.nombre.label}}
        {{form.nombre(class="form-control")}}
      </div>
        {% for error in form.nombre.errors %}
          <div style="color:red">{{ error }}</div>  
        {% endfor %}

        <div class="form-col-right">
        {{form.direccion.label}}
        {{form.direccion(class="form-control")}}
        </div>
        {% for error in form.direccion.errors %}
          <div style=color:red>{{ error }}</div>
        {% endfor %}

        <div class="form-col-left">
        {{form.telefono.label}}
        {{form.telefono(class="form-control")}}
        </div>
        {% for error in form.telefono.errors %}
          <div style=color:red>{{ error }}</div>
        {% endfor %}

        <div class="form-col-left" style="margin-right: 0px;">
        {{form.apertura.label}}
        {{form.apertura(class="form-control", type="time")}}
        </div>

        <div class="form-col-right">
        {{form.cierre.label}}
        {{form.cierre(class="form-control", type="time")}}
        </div>

        <div class="form-col-left">
        {{form.tipo_centro.label}}
        {{form.tipo_centro(class="form-control")}}
        </div>

        {% for error in form.tipo_centro.errors %}
          <div style=color:red>{{ error }}</div>
        {% endfor %}

        <div class="form-col-right">
        {{form.email.label}}
        {{form.email(class="form-control")}}
        </div>
        {% for error in form.email.errors %}
          <div style=color:red>{{ error }}</div>
        {% endfor %}

        <div class="form-col-left">
        
          <label>Municipio</label>          
          <select name="municipio" class="form-control">
              <option>{{ form.municipio.data }}</option>            
            {% for muni in lista_municipio %}
              <option value="{{muni}}">{{muni}}</option>
            {% endfor %}
          </select> 
        </div><br><br>

        <div class="form-col-right">
        {{form.web.label}}
        {{form.web(class="form-control")}}
        </div><br>
        {% for error in form.web.errors %}
          <div style=color:red>{{ error }}</div>
        {% endfor %}

        <div style="float:left; margin-left: 70px; margin-right: 30px; margin-top: 10px; margin-bottom: 5px; padding: 5px;" >
          <label>Protocolo</label>
          {{form.protocolo(class="form-control", type="file" )}}
        </div>

        {% for error in form.protocolo.errors %}
          <div style=color:red>{{ error }}</div>
        {% endfor %}
        
        <div class="form-col-left" style="margin-top: 5px; padding-top: 5px; ">
          <label>Ingrese ubicacion del centro</label>
            <div class="map-container">
              {{form.lat(id="lat")}}
              {{form.lng(id="lng")}} 
            </div> 
        </div>
        <div id="myMap" style="height: 180px; width: 800px;">
      
            <script src="{{ url_for('static', filename='mapa.js') }}"> </script> 
        </div>        
        
        <div id="centrar"><br>
          <input type="submit" value="Modificar centro" class="btn btn-primary">
          <input type="reset" value="Limpiar formulario" class="btn btn-secundary">
          
        </div>

    </form>
    </div>
  
{% endblock %}