<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>  
  
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
  </head>
  <body>
    <div id="navbar">
      {% block navbar %}
      <div>
        <nav class="navbar justify-content-center  navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#">Donaciones Covid-19</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
          
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('home') }}">Pagina Principal </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Plasma</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Comida</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contacto</a>
              </li>            
              {% if is_authenticated(session) %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Usuario
                </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="{{ url_for('user_index') }}">Perfil</a>
                      <a class="dropdown-item" href="{{ url_for('issue_index') }}">Usuarios</a>
                      <a class="dropdown-item" href="{{ url_for('auth_logout') }}">Cerrar Sesion</a>                 
                  </div>
                </li>  
                  <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('home') }}">Volver</a>
                  </li> 
                  {%else %}
                    <a class="nav-link" href="{{ url_for('auth_login') }}" >Iniciar sesión</a>
                  {% endif %}
                            
            </ul> 
          </div>
          <div id="derecha">           
            <img class="card-img-top" src="{{ url_for('static', filename='donaciones.png') }}" alt="imagen">
          </div>
    
        </nav>
      
      </div>
      {% endblock %}
    </div>
    <div id="content">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class=flashes>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}

      {% block content %}
      {% endblock %}
    </div>
    <div id="footer">
      {% block footer %}
      {% endblock %}
    </div>
  </body>
</html>
