<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>  
  
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
  </head>

  <body> 
      <nav class="navbar justify-content-center  navbar-expand-lg navbar-light bg-light">
        <div id="izquierda">           
          <a href="{{ url_for('home') }}"> <img  src="{{ url_for('static', filename='donaciones.png') }}" alt="imagen" > </a>
        </div>

        <a class="navbar-brand" href="{{ url_for('home') }}">Donaciones Covid-19</a>
       
        <div class="collapse navbar-collapse" id="navbarNavDropdown">        
          <ul class="navbar-nav">
                      
            {% if is_authenticated(session) %}
            <li class="nav-item">
              <a href="{{ url_for('user_index') }}" class="nav-link">Usuarios</a>
            </li>  
            <li class="nav-item">
              <a href="{{ url_for('configuracion_new') }}" class="nav-link">Configuracion</a>
            </li>
            <li class="nav-item">
              <a href="{{ url_for('rol_index') }}" class="nav-link">Roles</a>
            </li>   
            <li class="nav-item">
              <a href="{{ url_for('permiso_index') }}" class="nav-link">Permisos</a>
            </li>               
            
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{session.get("user") }}</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="{{ url_for('user_show') }}">Perfil</a>
                  <a class="dropdown-item" href="{{ url_for('auth_logout') }}">Cerrar Sesion</a>                                   
                </div>                
            </li> 
              {%else %}
              <li>
                <a class="nav-link" href="{{ url_for('auth_login') }}" >Iniciar sesión</a>
              </li>
              {% endif %}    
          </ul>  
        </div>  
      </nav>
      
      <div id="content">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class=flashes>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}

      {% block content %}
      {% endblock %}
    </div>
    <div id="footer">
      {% block footer %}
      
      {% endblock %}
    </div>
  </body>
</html>
